.block-about-me {
	&__content {
		padding: rem(20) 0 rem(50);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		@include media(">=xxl") {
			padding: 0 0 rem(100);
			flex-direction: row;
			gap: 2%;
			text-align: start;
		}
	}
	&__left {
		@include media(">=xxl") {
			flex-basis: 49%;
			max-width: 49%;
		}
	}
	&__image {
		margin-bottom: rem(30);
		object-fit: cover;
		width: 100%;
		height: 100%;
		@include media(">=xxl") {
			margin-bottom: 0;
		}
	}
	&__right {
		@include media(">=xxl") {
			flex-basis: 49%;
			max-width: 49%;
		}
	}
	&__text {
		margin-bottom: rem(50);
		@include media(">=xxl") {
			margin-bottom: rem(100);
		}
	}
	&__buttons {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: rem(15);
		margin-bottom: rem(30);
		flex-wrap: wrap;
		@include media(">=xxl") {
			flex-direction: row;
			gap: rem(25);
			margin-bottom: rem(45);
		}
	}
	&__button-filled {
		width: 100%;
		@include media(">=xxl") {
			width: max-content;
		}
	}
	&__button-outlined {
		width: 100%;
		@include media(">=xxl") {
			width: max-content;
		}
	}
	&__tab-content {
		display: none;
		&--active {
			display: block;
		}
	}
	&__progress-bars {
		max-height: rem(250);
		overflow: auto;
	}
	&__progress-bar {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-bottom: rem(11);
		&:last-child {
			margin-bottom: 0;
		}
		@include media(">=xxl") {
			margin-bottom: rem(25);
		}
	}
	&__progress-label {
		@include font(18, 30, 600);
		@include media(">=xxl") {
			font-size: rem(20);
		}
	}
	&__progress {
		width: 100%;
		border: none;
		height: rem(17);
		-webkit-appearance: none;
		appearance: none;
	}
	&__progress::-webkit-progress-bar {
		background-color: $color-gallery;
		border-radius: rem(10);
	}
	&__progress::-webkit-progress-value {
		background-color: $color-azure-radiance;
		border-radius: rem(10);
	}

	&__awards-list {
		list-style: none;
		counter-reset: about-me;
		@include font(24, 32);
		padding-left: 0;
		display: flex;
		gap: rem(50);
		align-items: center;
		justify-content: center;
	}
	&__award {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		&::before {
			counter-increment: about-me;
			content: counter(about-me);
			color: $color-white;
			background-color: $color-azure-radiance;
			@include font(24, 32);
			border-radius: rem(6);
			display: flex;
			align-items: baseline;
			justify-content: center;
			width: rem(36);
			height: rem(36);
		}
	}
	&__education {
		display: none;
	}
	&__education-list {
		list-style: none;
		counter-reset: about-me;
		@include font(24, 32);
		padding-left: 0;
		display: flex;
		flex-direction: column;
		gap: rem(15);
		align-items: center;
		justify-content: space-evenly;
	}
	&__education-list-item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		&::before {
			counter-increment: about-me;
			content: counter(about-me);
			color: $color-white;
			background-color: $color-azure-radiance;
			@include font(24, 32);
			border-radius: rem(6);
			display: flex;
			align-items: baseline;
			justify-content: center;
			width: rem(36);
			height: rem(36);
		}
	}
}
