.block-contact {
	$block: &;
	background-color: $color-azure-radiance;
	@include media(">=xl") {
		background-image: url("../images/icons/circle.png"),
			url("../images/icons/small-circle.png");
		background-repeat: no-repeat;
		background-position: right bottom, left 110%;
	}
	h2 {
		color: $color-white;
		@include media(">=xl") {
			margin-bottom: rem(70);
		}
	}
	&__subtitle {
		color: $color-zumthor;
		@include media(">=xl") {
			margin-bottom: rem(24);
		}
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
		padding: rem(30) 0;
		@include media(">=xl") {
			padding: rem(100) 0;
		}
	}
	&__contact-box {
		@include media(">=xl") {
			display: flex;
			gap: 3%;
			padding: 0 rem(109);
			margin-bottom: rem(50);
		}
	}
	&__contact-details {
		background-color: $color-white;
		border-radius: rem(15);
		padding: rem(20) rem(20) rem(30);
		text-align: start;
		margin-bottom: rem(30);
		@include media(">=xl") {
			height: min-content;
			padding: rem(30);
			width: 48.5%;
			min-width: fit-content;
			flex-basis: 48.5%;
			margin-bottom: 0;
		}
	}
	&__action {
		@include hover-animated-lines-blue();
	}
	&__hotline {
		display: inline-block;
		@include font(16, 20, 700);
		margin-bottom: rem(25);
		@include media(">=xl") {
			margin-bottom: rem(40);
		}
	}
	&__hotline-number {
		display: block;
		@include font(20, 30, 700);
		@include media(">=xl") {
			font-size: rem(24);
		}
	}
	&__address-title {
		font-weight: $font-weight-medium;
	}
	&__address-text {
		@include font(16, 26, 400);
	}
	&__form {
		width: 100%;
		text-align: start;
		@include media(">=xl") {
			width: 48.5%;
			flex-basis: 48.5%;
		}
	}
	&__identity-inputs {
		border: none;
		display: flex;
		flex-direction: column;
		@include media(">=xl") {
			flex-direction: row;
			gap: 4%;
		}
	}
	&__required-box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	&__error-message {
		color: $color-white;
		text-decoration: underline $color-red;
		visibility: hidden;
		font-size: rem(10);
	}
	&__input {
		width: 100%;
		border: rem(2) solid transparent;
		margin-bottom: rem(24);
		padding: rem(13);
		color: $color-dove-gray;
		@include font(16, 20, 400);
		border-radius: rem(5);
		transition: border-color $default-transition;
		&:hover {
			border-color: $color-congress-blue;
		}
		&[type="email"],
		&[name="name"] {
			margin-bottom: 0;
		}
	}

	&__checkbox-box {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		position: relative;
		gap: rem(3);
		&::after {
			content: "";
			display: block;
			opacity: 0;
			width: rem(1);
			height: rem(1);
			transition: transform $default-transition, opacity $default-transition;
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			left: 2%;
			top: 15%;
			transform: translateY(-50%);
			background-color: $color-white;
			cursor: pointer;
		}
		&:hover#{$block}__checkbox-box::after {
			content: "";
			transform: scale(30);
			opacity: 0.5;
		}
		&:not(:hover)#{$block}checkbox-box::after {
			transform: scale(1);
			content: "";
			opacity: 0;
		}
	}

	&__checkbox {
		display: none;
		&:checked ~ #{$block}__checkbox-label::after {
			content: "";
			background-image: url("../images/icons/air-balloon-blue.svg");
			background-size: cover;
			overflow: hidden;
			border: rem(1) solid $color-white;
		}
	}
	&__checkbox-label {
		color: $color-white;
		@include font(14, 14, 400);
		padding-left: rem(28);
		cursor: pointer;
		display: inline-block;
		margin-right: rem(10);
		&::before,
		&::after {
			content: "";
			display: block;
			width: rem(18);
			height: rem(18);
			background-color: $color-white;
			border-radius: rem(5);
			left: 0;
			top: 25%;
			transform: translateY(-80%);
			position: absolute;
		}
		@include media(">=xl") {
			padding-left: rem(38);
		}
	}

	&__link {
		text-decoration: underline;
		color: $color-white;
		@include font(14, 14, 400);
		@include hover-filter();
	}
	&__button {
		background-color: $color-congress-blue;
		color: $color-white;
		padding: rem(15) rem(33);
		width: 100%;
		@include media(">=xl") {
			width: unset;
		}
	}
	&__thanks-box {
		display: none;
		&--active {
			display: block;
			height: min-content;
			padding: rem(20) rem(20) rem(30);
			border-radius: rem(15);
			border: rem(2) solid $color-white;
			color: $color-white;
		}
	}
}
.hover-disabled {
	&.block-contact__checkbox-box::after {
		background-color: transparent;
	}
}
.input-error {
	border-color: red;
	color: red;
}
