.block-logos {
	background-color: $color-alabaster;
	&__content {
		padding: rem(40) 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(20);
		flex-wrap: wrap;
		@include media(">=xl") {
			flex-direction: row;
			flex-wrap: wrap;
			padding: rem(65) 0;
		}
	}
	&__logo {
		@include hover-filter-half();
		height: rem(50);
		width: 18%;
	}
	&__img {
		height: 100%;
		object-fit: cover;
	}
}
