.block-services {
	overflow: hidden;
	.highlighted {
		display: inline;
	}
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__heading-text {
		@include media(">=xl") {
			max-width: 51%;
		}
	}
	&__arrows {
		display: flex;
		gap: rem(20);
		margin: rem(20) 0;
		align-self: flex-end;
	}
	&__service-boxes {
		display: grid;
		grid-template-areas: "overlap";
		margin: 0;
		@include media(">=md") {
			display: flex;
			flex-direction: row;
			gap: rem(10);
			flex-wrap: nowrap;
			justify-content: flex-start;
			overflow: hidden;
		}
		@include media(">=lg") {
			margin-right: rem(-230);
		}
		@include media(">=xl") {
			gap: rem(30);
		}
	}
	&__service-box {
		border: rem(1) solid $color-alto;
		border-radius: rem(10);
		padding: rem(30);
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		text-align: start;
		gap: rem(10);
		grid-area: overlap;
		@include media(">=lg") {
			max-width: 30%;
			flex-basis: 30%;
		}
	}
	&__icon {
		object-fit: cover;
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	&__more {
		color: $color-azure-radiance;
		display: flex;
		gap: rem(10);
		@include hover-animated-lines-blue();
	}
	&__arrow-box {
		display: inline-block;
		width: rem(25);
		height: rem(28);
	}
	&__arrow {
		width: 100%;
		height: 100%;
	}
}
