.block-testimonials {
	$block: &;
	h2 {
		margin-bottom: rem(30);
	}
	.slick-list {
		display: flex;
	}
	.slick-track {
		display: flex;
		margin: 0;
	}
	.slick-arrow {
		@include arrowButton();
		font-size: 0;
		position: absolute;

		&.slick-next {
			left: calc(40% + rem(60));
			top: rem(-50);
			display: block;
			@include media("<xs") {
				left: calc(30% + rem(60));
			}
			@include media(">=lg") {
				left: calc(43% + rem(60));
			}
			@include media(">=xxl") {
				left: calc(45% + rem(60));
			}
		}

		&.slick-prev {
			left: 40%;
			top: rem(-50);
			@include media("<xs") {
				left: 30%;
			}
			@include media(">=lg") {
				left: 43%;
			}
			@include media(">=xxl") {
				left: 45%;
			}
		}
	}
	.slick-next,
	.slick-prev {
		&::before {
			@include slickArrow();
		}
	}
	.slick-next:active::before {
		width: rem(40);
		height: rem(40);
		top: rem(4);
		right: rem(4);
	}
	.slick-prev:active::before {
		width: rem(40);
		height: rem(40);
		top: rem(4);
		right: rem(4);
	}

	.slick-slide {
		margin-right: rem(30);
		@include media("<md") {
			width: rem(297);
			height: auto;
			display: flex;
		}

		> div {
			height: 100%;
		}
	}

	&__content {
		padding-top: rem(30);
	}
	&__titles {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		text-align: center;
	}
	&__slider-box {
		overflow: hidden;
		padding-top: rem(80);
	}

	&__opinions {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: rem(30);
		width: 100%;
		@include media(">=sm") {
			flex-wrap: wrap;
			align-items: stretch;
			justify-content: flex-start;
		}
	}
	&__opinion-box {
		border: rem(1) solid $color-alto;
		border-radius: rem(15);
		padding: rem(30) rem(20);
		text-align: start;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: rem(20);
		cursor: pointer;
		transition: border-color $default-transition;
		height: 100%;
		display: flex !important;
	}
	&__person {
		position: relative;
		height: rem(150);
		width: rem(150);
	}
	&__img {
		border-radius: 50%;
		text-align: center;
		@include object-fit-cover();
		overflow: hidden;
		border-radius: 50%;
	}
	&__stars {
		display: flex;
		padding: rem(4);
		gap: rem(5);
	}
	&__star {
		position: relative;
		height: rem(26);
		width: rem(26);
	}
	&__star-img {
		position: absolute;
		right: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		overflow: hidden;
	}
	&__text {
		@include font(16, 20, 400);
	}
	&__author {
		color: $color-dove-gray;
		@include font(16, false, 400);
		& p {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
	}
	&__name {
		display: block;
		font-weight: $font-weight-medium;
		text-transform: uppercase;
		color: $color-black;
	}
}
