.arrow {
	@include arrowButton();
}
.arrow-img {
	position: absolute;
	object-fit: cover;
	width: 70%;
	height: 70%;
	top: 15%;
	left: 18%;
}
.active-slick-slide {
	.block-testimonials__opinion-box {
		background-color: $color-azure-radiance;
		color: $color-white;
	}
	address,
	span,
	p {
		color: $color-white;
	}
}
.active-blue-class {
	background-color: $color-azure-radiance !important;
	color: $color-white !important;
	z-index: 1 !important;
	fill: $color-white !important;
	h3 {
		color: $color-white !important;
	}
	.block-services__more {
		color: $color-white !important;
	}
	& svg path {
		fill: $color-white !important;
	}
}

.disabled {
	pointer-events: none;
	background-color: $color-white !important;
	& svg path {
		fill: $color-azure-radiance !important;
	}
}
