/*
----------------------------------------
COLORS

Colors in variables.
*/

$color-black: #000;
$color-white: #fff;

// Theme Colors
$color-big-stone: #141b34;
$color-azure-radiance: #0077ff;
$color-concrete: #f2f2f2;
$color-mine-shaft: #222222;
$color-alabaster: #f8f8f8;
$color-dove-gray: #666666;
$color-congress-blue: #00489a;
$color-alto: #dddddd;
$color-gallery: #eeeeee;
$color-zumthor: #e9efff;
$color-jordy-blue: #79b2f2;
$color-red: #ff0000;
