/*
----------------------------------------
FONTS
*/

$font-base: "Work Sans", sans-serif;
$font-zen-kaku: "Zen Kaku Gothic Antique", sans-serif;
$font-size-base: rem(18);
$line-height-base: rem(25);

// font weights
$font-weight-base: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
